@charset "UTF-8";

*{
  margin:0px;
  padding:0px;
}

body {
  font-family: 'Merriweather', 'Noto Serif JP', serif;
  font-size:20px;
  overflow:scroll;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height:100%;
  background-color:#B5E8E8;
  position:relative;
}

header{
  display:block;
  background-color:#F26D85;
  color:white;
  height:200px;
  width: 100%;
  position:relative;
  text-align:center;
  color:white;
  font-family: 'ZCOOL XiaoWei', serif;
}

#header-box{
  display:block;
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform : translate(-50%, -50%);
  transform : translate(-50%, -50%);
}

main{
  width:90vw;
  min-height: 100vh;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:200px;
  display:block;
}

section{
  margin-top:3em;
}

h1{
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-weight: normal;
  font-size:80px;
}

h2{
  font-weight: normal;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size:40px;
}

h3{
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-weight: normal;
  font-size:30px;
}

p{
  margin-top: 1em;
  margin-bottom: 1em;
}

ul{
  margin: 2em auto;
  list-style: none;
}

li {
  list-style:none;
  margin-bottom: 1em;
}

a {
  color:#F28E85;
}

a image {
  border:none;
}

address{
  margin: 1em auto;
}

.eng {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

address{
  font-style: normal;
}

footer{
  width:100%;
  bottom:0;
  display:block;
  margin: 20px auto 10px auto;
  text-align: center;
}

.footer-line{
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-decoration:none;
}

.copyright{
  font-size: 10px;
}

#footer-icon{
  width: 50px;
  border-radius: 10%;
}
