@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

*{
  margin:0px;
  padding:0px;
}

body {
  font-family: "Noto Serif JP";
  background-color:#DFF2FC;
  font-size:24px;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

li {
  list-style:none;
}

p{
  text-indent:1em;
}

a image{
  border:none;
}

.header{
  background-color:#3C4174;
  color:white;
  height:150px;
  width:100%;
}

.header-logo{
  float:left;
  margin:28px 20px 18px 40px;
}

.header-list{
  float:right;
  margin-top:10px;
  margin-right:15px;
}

.header-list li{
  float:left;
  padding:33px 20px;
}

.header-list li a{
  text-decoration:none;
  color:white;
  font-size:30px;
}

.main{
  width:90vw;
  text-align:center;
  margin-left:auto;margin-right:auto;
  text-align:left;
}

.prof_overview{
  background-color:white;
  color:black;
  max-width:1000px;
  height:auto;
  text-align:center;
  margin-left:auto;margin-right:auto;
  text-align:left;
  border:3px;
  border-color:black;
  border-radius:8px;
  margin-top:20px;
  padding-top:20px;
}

.prof_overview_title{
  background-color:#007bbb;
  color:white;
  height:70px;
  padding-left:20px;
  font-size:40px;
}

.prof_overview_cont{
  padding:20px;
}

.prof_detail{
  background-color:white;
  color:black;
  max-width:1000px;
  height:auto;
  text-align:center;
  margin-left:auto;margin-right:auto;
  text-align:left;
  border:3px;
  border-color:black;
  border-radius:8px;
  margin-top:20px;
  padding-top:20px;
}

.prof_detail_title{
  background-color:#007bbb;
  color:white;
  height:70px;
  padding-left:20px;
  font-size:40px;
}

.prof_detail_cont{
  padding:20px;
}

.footer{
  height:100px;
  margin-top:auto;
  background-color:#3C4174;
}

.footer-logo{
  text-align:center;
  margin:30px auto 0px auto;
}
