@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');

*{
  margin:0px;
  padding:0px;
}

body {
  font-family: 'Noto Serif JP', 'Merriweather', serif;
  font-size:20px;
  overflow:scroll;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height:100%;
  background-color:#B5E8E8;
  position:relative;
}

#header{
  display:block;
  background-color:#F26D85;
  color:white;
  height:200px;
  width: 100%;
  position:relative;
  text-align:center;
  color:white;
  font-family: 'ZCOOL XiaoWei', serif;
}

#header-box{
  display:block;
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform : translate(-50%, -50%);
  transform : translate(-50%, -50%);
}

#header-logo{
  display:block;
  font-size:80px;
  margin-left:auto;
  margin-right:auto;
}

#subtitle{
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:30px;
}

#main{
  width:90vw;
  text-align:center;
  margin-left:auto;margin-right:auto;
  padding-bottom:200px;
  display:block;
}

section{
  margin-top:2em;
}

h2{
  font-weight: normal;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size:40px;
}

article{
  margin-top:1em;
}

ul {
  list-style:none;
}

li {
  list-style:none;
  margin-bottom: 1em;
}

a {
    color:#F28E85;
}

a image {
  border:none;
}

.eng {
  font-family: "Merriweather", serif;
}

address{
  font-style: normal;
}

.links{
  margin-bottom:1em;
}

#footer{
  height:100px;
  width:100%;
  background-color:#F26D85;
  color:white;
  position:absolute;
  bottom:0;
  display:block;
  margin-top:auto;
}

#footer-logo {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size:40px;
  line-height:100px;
  text-decoration:none;
  margin-left:25px;
}

#footer-logo a {
  color:white;
  text-decoration:none;
}
